html{
    font-family: $typo-principal;
}

.encabezado img{
    width: 22vh;
    height: 11vh;
    
}
li{
    font-size: 2,5vh;
    font-style: normal;
    list-style-type: none;
    padding-left: 3vh;
}
a{
    text-decoration: none;
    color: white;
}
header{
    height: 200px;
    background: url(../asset/img/Capturahead.JPG) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
}

.navList{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    margin-right: 10px;
    justify-content: space-evenly;

}
