html{
    font-family: $typo-principal;
}

.encabezado img{
    width: 22vh;
    height: 11vh;
    
}
li{
    font-size: 2,5vh;
    font-style: normal;
    list-style-type: none;
    padding-left: 3vh;
}
a{
    text-decoration: none;
    color: white;
}
header{
    height: 200px;
    background: url(../asset/img/Capturahead.JPG) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
}

.navList{
    display: flex;
    gap: 30px;
    padding-top: 20px;
    padding-right: 15px;
    justify-content: space-evenly;

}
